.main {
  background-image: url('./assets/images/coloredPatterns.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#273c2c;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px);
}

progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: #ffffff;
}

progress::-webkit-progress-value {
  background-color: #939196;
}

.glassy {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 24px;
}

.nav-menu {
  width: 100%;
  height: 8%;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(211, 193, 210, 0.37);
}

.nav-font {
  line-height: 1.5em;
  color: #273c2c;
  font-size: 24px;
  text-shadow: 0 0 #939196, 0 1.5em #fff;
  overflow: hidden;
  transition: 0.3s;
}

.nav-font:hover {
  color: #939196;
  text-shadow: 0 -1.7em #939196, 0 0 #fff;
  border-bottom: 2px solid #939196;
}

.about {
  width: 100%;
  background-color: rgba(255, 226, 254, 0.6);
}

.pic-container {
  position: relative;
}

@keyframes morph {
  0%,
  100% {
    border-radius:
      40% 60% 70% 30% /
      40% 40% 60% 50%;
  }

  34% {
    border-radius:
      70% 30% 50% 50% /
      30% 30% 70% 70%;
  }

  67% {
    border-radius:
      100% 60% 60% 100% /
      100% 100% 60% 60%;
  }
}

.profile-pic {
  height: 50vh;
  width: 25vw;
  border: 4px solid #d3c1d2;
  animation: morph 3.5s linear infinite;
}

.intro {
  font-weight: 700;
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0;
  animation-name: entry;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes entry {
  from {
    width: 300%;
    margin-left: 100%;
  }

  to {
    width: 100%;
    margin-left: 0;
  }
}

.profile {
  height: auto;
  width: 100%;
}

article {
  width: 70%;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.icon-container {
  background-color: #d3c1d2;
  padding: 10px;
  border-radius: 50%;
}

#HackerRank-container:hover {
background-color: #1BA94C;
outline: 2px solid#1BA94C;
outline-offset: 3px;
}

#LinkedIn-container:hover {
  background-color: #0A66C2;  
  outline: 2px solid #0A66C2;
  outline-offset: 3px;
}

#Twitter-container:hover {
  background-color: #1A8CD8;  
  outline: 2px solid #1A8CD8;
  outline-offset: 3px;
}

#Threads-container:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  outline: 2px solid #d6249f;
  outline-offset: 3px;
}

#Github-container:hover {
  background-color: #000;
  outline: 2px solid #000;
  outline-offset: 3px;
}

.site-pic {
  width: 36px;
  height: 36px;
}

.site-pic:hover {
 animation: quake 0.25s;
}

@keyframes quake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
