.main {
  background-color: rgba(255, 226, 254, 0.3);
  color: #273c2c;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);
}

.glassy {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-menu {
  width: 100%;
  height: 80px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(211, 193, 210, 0.37);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-font {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  line-height: 1.5em;
  color: #273c2c;
  font-size: 24px;
  text-shadow: 0 0 #939196, 0 1.5em #fff;
  overflow: hidden;
  transition: 0.3s;
}

.nav-font:hover {
  color: #939196;
  text-shadow: 0 -1.7em #939196, 0 0 #fff;
  border-bottom: 2px solid #939196;
}

.profile {
  background-image: url('./assets/images/coloredPatterns.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes morph {
  0%,
  100% {
    border-radius:
      40% 60% 70% 30% /
      40% 40% 60% 50%;
  }

  34% {
    border-radius:
      70% 30% 50% 50% /
      30% 30% 70% 70%;
  }

  67% {
    border-radius:
      100% 60% 60% 100% /
      100% 100% 60% 60%;
  }
}

.profile-pic {
  height: 50vh;
  width: 25vw;
  border: 4px solid #d3c1d2;
  animation: morph 3.5s linear infinite;
}

.intro {
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: 0;
  animation-name: entry;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes entry {
  from {
    width: 300%;
    margin-left: 100%;
  }

  to {
    width: 100%;
    margin-left: 0;
  }
}

article {
  width: 70%;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-weight: 600;
}

.icon-container {
  padding: 10px;
  border-radius: 50%;
}

#HackerRank-container {
  background-color: #1ba94c;
  outline: 2px solid#1BA94C;  
}

#HackerRank-container:hover, #LinkedIn-container:hover, #Twitter-container:hover, #Threads-container:hover, #Github-container:hover {
  outline-offset: 3px;
}

#LinkedIn-container {
  background-color: #0a66c2;
  outline: 2px solid #0a66c2;
}

#Twitter-container {
  background-color: #1a8cd8;
  outline: 2px solid #1a8cd8;
}

#Threads-container {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline: 2px solid #d6249f;
}

#Github-container {
  background-color: #000;
  outline: 2px solid #000;
}

.site-pic {
  width: 28px;
  height: 28px;
}

.site-pic:hover {
  animation: quake 0.25s;
}

@keyframes quake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

.heading {
  color: #626868;
  margin-top: 150px;
  font-weight: 600;
  font-size: 64px;
}

.animate-heading {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.skill-card {
  width: 250px;
  height: 200px;
}

.skills-text {
  font-size: 24px;
  font-weight: 700;
  color: #626868;
}

.projects {
  background-image: url('./assets/images/coloredPatterns.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card {
  background-color: rgba(98, 104, 104, 0.13);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  margin: 0 10%;
  width: 80%;
}

@keyframes flip-horizontal-top {
  0% {
            transform: rotateX(0);
  }
  100% {
            transform: rotateX(180deg);
  }
}

.project-pic.active {
  animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse;
}

.project-pic.hidden {
  display: none;
}

.project-pic {
  width: 700px;
  height: 400px;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  cursor: zoom-in;
}

.project-pic.scaled {
  transform: scale(1.4);
  cursor: pointer;
}

.project-info {
  text-align: center;
  line-height: 45px;
  font-size: 28px;
  font-weight: 600;
}

.project-info > p {
  color: #626868;
  text-align: center;
}

.stack {
  font-size: 18px;
  color: #626868;
  border-radius: 4px;
}

.skill-btns {
  background-color: #273c2c;
  color: #fff;
  font-size: 24px;
}

.skill-btns:hover {
  background-color: #d3c1d2;
  color: #273c2c;
  transform: translate(-2px, -5px);
}

.CTA {
  width: 50%;
}

.form-entries {
  width: 100%;
}

.fill-area {
  width: 60%;
  padding: 10px;
  font-size: 24px;
  outline: none;
  border: #d3c1d2 2px solid;
}

.fill-area::placeholder {
  color: #939196;
  font-size: 24px;
}