@media screen and (min-width: 800px) {
  .main {
    background-color: rgba(255, 226, 254, 0.3);
    color: #273c2c;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
  }

  .glassy {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-menu {
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(211, 193, 210, 0.57);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .nav-font {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    line-height: 1.5em;
    color: #273c2c;
    font-size: 24px;
    text-shadow: 0 0 #939196, 0 1.5em #fff;
    overflow: hidden;
    transition: 0.3s;
  }

  .nav-font:hover {
    color: #939196;
    text-shadow: 0 -1.7em #939196, 0 0 #fff;
    border-bottom: 2px solid #939196;
  }

  .profile {
    background-image: url('./assets/images/coloredPatterns.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius:
        40% 60% 70% 30% /
        40% 40% 60% 50%;
    }

    34% {
      border-radius:
        70% 30% 50% 50% /
        30% 30% 70% 70%;
    }

    67% {
      border-radius:
        100% 60% 60% 100% /
        100% 100% 60% 60%;
    }
  }

  .profile-cont {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-pic {
    margin-top: 20px;
    margin-left: 20px;
    height: 373px;
    width: 378px;
    border: 4px solid #d3c1d2;
    animation: morph 3.5s linear infinite;
  }

  .intro {
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
    letter-spacing: 0;
    animation-name: entry;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
  }

  @keyframes entry {
    from {
      width: 300%;
      margin-left: 100%;
    }

    to {
      width: 100%;
      margin-left: 0;
    }
  }

  article {
    width: 70%;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-weight: 600;
  }

  .socials-cont {
    display: flex;
    gap: 4vw;
    margin-bottom: 40px;
  }

  .icon-container {
    padding: 10px;
    border-radius: 50%;
  }

  #HackerRank-container {
    background-color: #1ba94c;
    outline: 2px solid#1BA94C;
  }

  #LinkedIn-container {
    background-color: #0a66c2;
    outline: 2px solid #0a66c2;
  }

  #Twitter-container {
    background-color: #1a8cd8;
    outline: 2px solid #1a8cd8;
  }

  #Threads-container {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline: 2px solid #d6249f;
  }

  #Github-container {
    background-color: #000;
    outline: 2px solid #000;
  }

  #HackerRank-container:hover,
  #LinkedIn-container:hover,
  #Twitter-container:hover,
  #Threads-container:hover,
  #Github-container:hover {
    outline-offset: 3px;
  }

  .site-pic {
    width: 28px;
    height: 28px;
  }

  .site-pic:hover {
    animation: quake 0.25s;
  }

  @keyframes quake {
    10% {
      transform: rotate(15deg);
    }

    20% {
      transform: rotate(-15deg);
    }

    30% {
      transform: rotate(15deg);
    }

    40% {
      transform: rotate(-15deg);
    }
  }

  .heading {
    color: #626868;
    margin-top: 150px;
    font-weight: 600;
    font-size: 64px;
  }

  .animate-heading {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  #skills {
    font-size: 36px;
  }

  .skill-card {
    width: 250px;
    height: 200px;
  }

  .skill-logos {
    width: 75px;
    height: 70px;
  }

  .skills-text {
    font-size: 24px;
    font-weight: 700;
    color: #626868;
  }

  #projects {
    margin-top: 100px;
  }

  .projects {
    background-image: url('./assets/images/coloredPatterns.svg');
    background-repeat: repeat;
    background-size: contain;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(98, 104, 104, 0.13);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    margin: 0 10%;
    width: 50%;
    height: auto;
  }

  @keyframes flip-horizontal-top {
    0% {
      transform: rotateX(0);
    }

    100% {
      transform: rotateX(180deg);
    }
  }

  .project-pic.active {
    animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse;
  }

  .project-pic.hidden {
    display: none;
  }

  .project-pic {
    margin-top: 20px;
    width: 800px;
    height: 400px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    cursor: zoom-in;
  }

  .project-pic.scaled {
    transform: scale(1.4);
    cursor: pointer;
  }

  .project-info {
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-weight: 600;
  }

  .project-info > p {
    color: #626868;
    text-align: center;
    height: 70%;
    width: 80%;
  }

  .stack {
    padding: 0 12px;
    font-size: 18px;
    color: #626868;
    border-radius: 4px;
  }

  .skill-btns {
    background-color: #273c2c;
    color: #fff;
    font-size: 24px;
  }

  .skill-btns:hover {
    background-color: #d3c1d2;
    color: #273c2c;
    transform: translate(-2px, -5px);
  }

  .contact-cont {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .CTA {
    width: 50%;
  }

  .CTA > h2 {
    font-size: 48px;
  }

  .form-entries {
    width: 100%;
  }

  .fill-area {
    width: 60%;
    padding: 10px;
    font-size: 24px;
    outline: none;
    border: #d3c1d2 2px solid;
  }

  .fill-area::placeholder {
    color: #939196;
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .main {
    background-color: rgba(255, 226, 254, 0.3);
    margin-top: -410px;
    color: #273c2c;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
  }

  .glassy {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-menu {
    display: flex;
    align-items: start;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .mobile-menu {
    margin-left: -60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 400px;
    gap: 20%;
    list-style: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: 2px solid rgba(211, 193, 210, 0.37);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .mobile-menu.active {
    margin-left: 0;
  }

  .nav-item {
    border-top: 1px solid #939196;
    border-bottom: 1px solid #939196;
    width: 90%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-font {
    font-size: 18px;
    font-weight: 600;
    color: #273c2c;
  }

  .intro {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    animation-name: entry;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
  }

  @keyframes entry {
    from {
      width: 300%;
      margin-left: 100%;
    }

    to {
      width: 100%;
      margin-left: 0;
    }
  }

  @keyframes morph {
    0%,
    100% {
      border-radius:
        40% 60% 70% 30% /
        40% 40% 60% 50%;
    }

    34% {
      border-radius:
        70% 30% 50% 50% /
        30% 30% 70% 70%;
    }

    67% {
      border-radius:
        100% 60% 60% 100% /
        100% 100% 60% 60%;
    }
  }

  .profile {
    background-image: url('./assets/images/coloredPatterns.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .profile-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socials-cont {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: -80px;
  }

  .icon-container {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
  }

  #HackerRank-container {
    background-color: #1ba94c;
  }

  #LinkedIn-container {
    background-color: #0a66c2;
  }

  #Twitter-container {
    background-color: #1a8cd8;
  }

  #Threads-container {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  }

  #Github-container {
    background-color: #000;
  }

  .site-pic {
    width: 18px;
    height: 18px;
  }

  .heading {
    color: #626868;
    font-weight: 600;
    font-size: 30px;
  }

  #about {
    margin-top: 40px;
  }

  .animate-heading {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  article {
    width: 90%;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  #skills {
    font-size: 20px;
    margin-bottom: -15px;
  }

  .skill-card {
    width: 200px;
    gap: 4px;
    height: 150px;
  }

  .skill-logos {
    width: 45px;
    height: 40px;
  }

  .skills-text {
    font-size: 16px;
    font-weight: 700;
    color: #626868;
  }

  #projects {
    margin-bottom: 40px;
  }

  .projects {
    background-image: url('./assets/images/coloredPatterns.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(98, 104, 104, 0.13);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    margin: 0 10%;
    width: 80%;
    height: auto;
  }

  @keyframes flip-horizontal-top {
    0% {
      transform: rotateX(0);
    }

    100% {
      transform: rotateX(180deg);
    }
  }

  .project-pic.active {
    animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse;
  }

  .project-pic.hidden {
    display: none;
  }

  .project-pic.scaled {
    transform: scale(1.4);
    cursor: pointer;
  }

  .project-info {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    height: auto;
  }

  .project-info > h2 {
    font-size: 18px;
  }

  .project-info > p {
    color: #626868;
    text-align: center;
    width: 90%;
  }

  .stack {
    padding: 0 8px;
    font-size: 12px;
    color: #626868;
  }

  .skill-btns {
    background-color: #273c2c;
    color: #fff;
    font-size: 14px;
  }

  .contact-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CTA > h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .profile-pic {
    margin: -40px 0 40px 0;
    padding-top: 0;
    height: 170px;
    width: 180px;
    border: 4px solid #d3c1d2;
    animation: morph 3.5s linear infinite;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .profile-pic {
    margin: -40px 0 40px 0;
    padding-top: 0;
    height: 250px;
    width: 270px;
    border: 4px solid #d3c1d2;
    animation: morph 3.5s linear infinite;
  }
}

@media screen and (min-width: 320px) and (max-width: 1650px) {
  .project-pic {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    cursor: zoom-in;
  }
}
